@page
@model FcConnect.Pages.Users.SuspendUserModel

@{
    ViewData["Title"] = "Suspend User";
    string confirmMessageText = "";
    string buttonText = "";
    string buttonClass = "";
    string buttonIcon = "";
}

<div class="row g-0 mb-2">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Suspend <br /> User</h5>
    </div>
    <div class="col d-flex justify-content-end align-items-end">
        <a class="btn btn-secondary" asp-page="./Index"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</a>
    </div>
</div>
<hr class="mt-0" />

<p><strong>User:</strong> @Model.User.Forename @Model.User.Surname - @Model.User.Email</p>

@if (Model.User.UserStatusId == Constants.StatusUserActive)
{
    confirmMessageText = "Are you sure you want to suspend this user?";
    buttonText = "Suspend User";
    buttonClass = "btn btn-danger";
    buttonIcon = "<i class=\"bi bi-person-fill-slash\"></i>";
}
else
{    
    confirmMessageText = "Are you sure you want to reinstate this user?";
    buttonText = "Reinstate User";
    buttonClass = "btn btn-success";
    buttonIcon = "<i class=\"bi bi-person-fill-check\"></i>";
}

<p class="text-danger"><strong>@confirmMessageText</strong></p>

<div class="row">
    <div class="col-md-4">
        <form method="post">            
            <div class="form-group">
                <button type="submit" class="@buttonClass">@Html.Raw(buttonIcon)&nbsp;@buttonText</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
