@page
@model FcConnect.Pages.Submissions.Manage.IndexModel

@{
    ViewData["Title"] = "Submissions";
    Guid clickCheck = Guid.NewGuid();
    HttpContext.Session.SetString("EditClick", clickCheck.ToString());
}

<h4>Submissions</h4>
<hr />

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="input-group">
                    <input class="form-control" name="SearchString" type="text" placeholder="Search by name" id="customTextField" />
                    <div class="input-group-append">
                        <button type="submit" value="Search" class="btn btn-primary" id="customTextFieldButton"><i class="bi bi-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="border-bottom" style="border-top-left-radius:10px;">
                User
            </th>
            <th class="border-bottom">
                Survey Name
            </th>
            <th class="border-bottom">
                Date Submitted
            </th>
            <th class="border-bottom" style="border-top-right-radius:10px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SurveySubmission) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Forename) @Html.DisplayFor(modelItem => item.User.Surname) (@Html.DisplayFor(modelItem => item.User.Email))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survey.Name)
            </td>
            <td>
                @item.SubmittedDateTime.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                    <a asp-page="./View" asp-route-id="@item.Id" asp-route-click="@clickCheck" class="btn btn-primary"><i class="bi bi-eye-fill"></i> View</a>
            </td>
        </tr>
}
    </tbody>
</table>
