@page
@model FcConnect.Pages.Submissions.Manage.IndexModel

@{
    ViewData["Title"] = "Submissions";
    Guid clickCheck = Guid.NewGuid();
    HttpContext.Session.SetString("EditClick", clickCheck.ToString());
}

<div class="row g-0 mb-2">
    <div class="col-sm-12 col-md-8 d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Survey<br />Submissions</h5>
    </div>
</div>
<hr class="mt-0" />
<form asp-page="./Index" method="get" id="filters">
    <div class="form-actions no-color">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="input-group">
                    <input class="form-control" name="SearchString" type="text" placeholder="Search by name" id="customTextField" value="@Request.Query["SearchString"]" />
                    <div class="input-group-append">
                        <button type="submit" value="Search" class="btn btn-primary" id="customTextFieldButton"><i class="bi bi-search"></i> Search</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3 d-flex align-items-center">
                <div class="form-check">
                    <input type="hidden" id="ReviewedCheckHidden" name="ReviewedCheckHidden"/>
                    <input class="form-check-input me-1" name="ReviewedCheck" type="checkbox" id="reviewSubmissionsCheck" onchange="this.form.submit()">
                    <label class="form-check-label" for="reviewSubmissionsCheck">Show reviewed submissions</label>
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.SurveySubmission.Count == 0)
{
    <div class="row mt-5 pt-5">
        <div class="col d-flex justify-content-center mt-5 pt-5">
            @Html.Raw(Model.SvgContentNoResults)
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="grey-text quicksandText">&nbsp;No new submissions</p>
        </div>
    </div>
}
else
    { 
    <table class="table">
        <thead>
            <tr>
                <th class="border-bottom" id="tableHeaderLeft">
                    User
                </th>
                <th class="border-bottom">
                    Survey Name
                </th>
                <th class="border-bottom">
                    Date Submitted
                </th>
                <th class="border-bottom" id="tableHeaderRight"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.SurveySubmission) {
                <tr>
                    <td>
                    @{
                        if (item.StatusId == Constants.StatussSubmissionPendingReview)
                        {
                                    <i class="bi bi-exclamation-lg text-danger" data-toggle="tooltip" data-bs-placement="bottom" title="Awaiting Review"></i>
                        }
                        else
                        {
                                    <i class="bi bi-check2 text-success" data-toggle="tooltip" data-bs-placement="bottom" title="Reviewed"></i>

                        
                        }
                    }
                
                    @Html.DisplayFor(modelItem => item.User.Forename) @Html.DisplayFor(modelItem => item.User.Surname) (@Html.DisplayFor(modelItem => item.User.Email))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Survey.Name)
                </td>
                <td>
                    @item.SubmittedDateTime.ToString("dd/MM/yyyy HH:mm")
                </td>
                <td>
                        <a asp-page="./View" asp-route-id="@item.Id" asp-route-click="@clickCheck" class="btn btn-border-primary"><i class="bi bi-eye-fill"></i> View</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}

<script>
    
    const queryString = window.location.search;

    // ensure checkbox is unchecked and hidden field value is false on initial page load (by checking for query string)
    if (queryString === null || queryString === '') 
    {
        sessionStorage.setItem('reviewSubmissionsChecked', 'false');
    }
    var isChecked = sessionStorage.getItem('reviewSubmissionsChecked') === 'true';
    document.querySelector('input[name="ReviewedCheckHidden"]').value = isChecked.toString();
    document.getElementById('reviewSubmissionsCheck').checked = isChecked;

    // event listener for change of checkbox value
    document.getElementById('reviewSubmissionsCheck').addEventListener('change', function () {
        var isChecked = this.checked;
        document.querySelector('input[name="ReviewedCheckHidden"]').value = isChecked.toString();
        sessionStorage.setItem('reviewSubmissionsChecked', this.checked.toString());
        document.getElementById('filters').submit();
    });
</script>