@page
@model FcConnect.Pages.Submissions.Manage.EditModel

@{
    ViewData["Title"] = "Review Sumbission";
}

<div class="row g-0 mb-0">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Review <br /> Submission</h5>
    </div>
    <div class="col d-flex align-items-end justify-content-end">
        <a class="btn btn-secondary mb-2 mt-1" asp-page="./Index"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</a>
    </div>
</div>
<hr class="mt-0" />

<p class="mb-0"><strong>User: </strong>@Model.SurveySubmission.User.Forename @Model.SurveySubmission.User.Surname - @Model.SurveySubmission.User.Email</p>
<p><strong>Submitted: </strong>@Model.SurveySubmission.SubmittedDateTime.ToString("dd/MM/yyyy HH:mm")</p>
<div class="row">
    <div class="col-md-4">
        @for (int i = 0; i < Model.SurveyQuestions.Count; i++)
        {
            <p class="mb-0"><strong>@Model.SurveyQuestions.ElementAt(i).QuestionText</strong></p>
            <p>@Model.SurveySubmission.Answers.ElementAt(i).AnswerText</p>
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveySubmission.Id" />
            <input type="hidden" asp-for="SurveySubmission.StatusId" value="@Constants.StatussSubmissionReviewed" />

            <div class="form-group">
                @if (Model.SurveySubmission.StatusId == Constants.StatussSubmissionPendingReview)
                {
                    <button type="submit" value="Save" class="btn btn-success"><i class="bi bi-clipboard-check"></i>&nbsp;Acknowledged</button>
                }
            </div>
        </form>
        @if (Model.SurveySubmission.StatusId == Constants.StatussSubmissionReviewed)
        {            
            <p style="color:green;"><strong>Survey reviewed&nbsp;<i class="bi bi-check"></i></strong></p>
            <p class="mb-0 grey-text">Reviewed on: @Model.SurveySubmission.ReviewedDateTime.ToString("dd/MM/yyyy HH:mm")</p>
            <p class="grey-text">Reviewed by: @Model.ReviewedByName</p>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
