@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row g-0 mb-0">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Welcome, <br /> @Model.UserName</h5>
    </div>
</div>
<hr />

<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgNewSubmissions)
                                <h1>@Model.NewSubmissions</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">New submissions</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgNewMessages)
                                <h1>@Model.NewMessages</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">New Messages</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgOverdueSubmissions)
                                <h1>@Model.OverdueSubmissions</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">Overdue Surveys</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgSubissionsReviewed)
                                <h1>@Model.SubmissionsReviewed</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">Submissions Reviewed</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgNewMessages)
                                <h1>@Model.NewMessages</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">New Messages</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgSurveys)
                                <h1>@Model.Surveys</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">Outstanding Surveys</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card border-light round mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex align-items-end justify-content-center">
                                @Html.Raw(Model.SvgOverdueSubmissions)
                                <h1>@Model.OverdueSubmissions</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h5 class="quicksandText">Overdue Surveys</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

