@page
@model FcConnect.Pages.Submissions.IndexModel

@{
    ViewData["Title"] = "My Surveys";
}

<div class="row g-0 mb-2">
    <div class="col-sm-12 col-md-8 d-flex align-items-end">
        @Html.Raw(Model.SvgHeaderContent)
        <h5 class="card-title quicksandText ps-2">My<br />Surveys</h5>
    </div>
</div>
<hr />

@if (Model.SurveyUserLink.Count == 0)
{
    <div class="container mt-5 pt-5">
        <div style="text-align:center;" class="d-flex justify-content-center">
            @Html.Raw(Model.SvgContent)
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p class="quicksandText">
                    You're caught up
                </p>
            </div>
        </div>
    </div>  
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="border-bottom" id="tableHeaderLeft">
                    Survey Name
                </th>
                <th class="border-bottom">
                    Date Due
                </th>
                <th class="border-bottom">
                    Status
                </th>
                <th class="border-bottom" id="tableHeaderRight"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int surveyNameIndex = 0;
            }
            @foreach (var item in Model.SurveyUserLink)
            {
                <tr>
                    <td class="align-content-center">
                        @Model.SurveyNames[surveyNameIndex]
                    </td>
                    <td class="align-content-center">
                        @item.DateDue.ToString("dd/MM/yyyy")
                    </td>
                    <td class="align-content-center">
                        @if (item.DateDue < DateTime.Now.Date)
                        {
                            <strong class="text-danger">Overdue</strong>
                        }
                        else if (item.DateDue.Date == DateTime.Now.Date)
                        {
                            <strong class="text-danger">Due Today</strong>
                        }
                        else
                        {
                            <p class="text-success mb-0">Not Due</p>
                        }
                    </td class="align-content-center">
                    <td>
                        <a asp-page="./SubmitSurvey" asp-route-id="@item.Id" class="btn btn-primary" style="border-radius:25px;"><i class="bi bi-clipboard2-check-fill"></i> Submit Response</a>
                    </td>
                </tr>
                surveyNameIndex++;
            }
        </tbody>
    </table>
}


