@page
@model FcConnect.Pages.Messaging.DetailsModel

@{
    ViewData["Title"] = "Details";
    string userId = Request.Query["sender"];
}
<a asp-page="./Index">Back</a>

<h1>Details</h1>

<div class="container"> 
    <h4>Message</h4>
    <hr />

    @foreach (var message in Model.Messages)
    {
        if (userId == message.Sender.Id.ToString())
        {
            <div class="row">
                <div class="col">
                    <div class="alert alert-success w-75" style="border-radius:40px; border-bottom-right-radius:5px; word-wrap: break-word;">
                        <h5 class="alert-heading">@Html.DisplayFor(modelItem => message.Sender.Forename) @Html.DisplayFor(modelItem => message.Sender.Surname)</h5>
                        <p>@Html.DisplayFor(modelItem => message.MessageContent)</p> 
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">
                    <div class="alert alert-primary w-75" style="border-radius:40px; border-bottom-right-radius:5px; word-wrap: break-word;">
                        <h5 class="alert-heading">@Html.DisplayFor(modelItem => message.Sender.Forename) @Html.DisplayFor(modelItem => message.Sender.Surname)</h5>
                        <p>@Html.DisplayFor(modelItem => message.MessageContent)</p>
                    </div>
                </div>
            </div>
        }
    }


</div>

