@page
@model FcConnect.Pages.Messaging.EditModel

@{
    ViewData["Title"] = "Edit";
  //  string userId = Request.Query["sender"];

}

<h1>Edit</h1>

<h4>Conversation</h4>
<hr />
@foreach (var message in Model.Conversation.Messages)
{
    if (Model.userId == message.Sender.Id.ToString())
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-success w-75" style="border-radius:40px; border-bottom-right-radius:5px; word-wrap: break-word;">
                    <h5 class="alert-heading">@Html.DisplayFor(modelItem => message.Sender.Forename) @Html.DisplayFor(modelItem => message.Sender.Surname)</h5>
                    <p>@Html.DisplayFor(modelItem => message.MessageContent)</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col d-flex justify-content-end">
                <div class="alert alert-primary w-75" style="border-radius:40px; border-bottom-left-radius:5px; word-wrap: break-word;">
                    <h5 class="alert-heading">@Html.DisplayFor(modelItem => message.Sender.Forename) @Html.DisplayFor(modelItem => message.Sender.Surname)</h5>
                    <p>@Html.DisplayFor(modelItem => message.MessageContent)</p>
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Conversation.Id" />
            <input type="hidden" asp-for="Conversation.LastMessageSent" class="form-control" />

            <div class="form-group">
                <label asp-for="NewMessageText" class="control-label"></label>
                <input asp-for="NewMessageText" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
