@page
@model FcConnect.Pages.Messaging.IndexModel

@{
    ViewData["Title"] = "Index";
    int index = 0; 
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="NewMessage"><i class="bi bi-envelope"></i> &nbsp; New Message</a>
    <a class="btn btn-secondary" asp-page="/"><i class="bi bi-arrow-clockwise"></i> &nbsp;Refresh</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                Received
            </th>
            <th>
                Message Preview
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Conversation) {
 
    @for (int i = item.Messages.Count - 1; i > 0; i--)
    {
        if (item.Messages.ElementAt(i).Recipient.Id == Model.userId)
        {
            index = i;
            break; 
        }
    }
        <tr>

        <td>

            @if (!item.Messages.ElementAt(index).IsRead)
            {
                        <i class="bi bi-envelope-exclamation"></i>
                    }
                    &nbsp; @Html.DisplayFor(modelItem => item.Messages.ElementAt(index).Sender.Forename) @Html.DisplayFor(modelItem => item.Messages.ElementAt(index).Sender.Surname)
        </td>
        <td>
            @{string received = item.Messages.ElementAt(index).DateTimeSent.ToString("dd/MM/yyyy HH:mm");}
            @received
        </td>
        <td class="text-truncate" style="max-width:150px;">
            @Html.DisplayFor(modelItem => item.Messages.ElementAt(index).MessageContent)
        </td>
        <td>                
            <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-user="@Model.userId" class="btn btn-primary"><i class="bi bi-eye-fill"></i> &nbsp;View</a>
            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> &nbsp; Delete</a> 
        </td>            
    </tr>
}
    </tbody>
</table>
