@page
@model FcConnect.Pages.Surveys.IndexModel

@{
    ViewData["Title"] = "Survey Management";
    Guid clickCheck = Guid.NewGuid();
    HttpContext.Session.SetString("EditSurveyClick", clickCheck.ToString());
}

<div class="row g-0 mb-2">
    <div class="col-sm-12 col-md-8 d-flex align-items-center">
        @Html.Raw(Model.SvgHeaderContent)
        <h5 class="card-title quicksandText mt-1 pt-5">Survey <br /> Management</h5>
    </div>
    <div class="col-sm-12 col-md-4  d-flex justify-content-end align-items-end">
        <a  class="btn btn-primary text-center me-1" asp-page="Create"><i class="bi bi-plus-circle"></i> Create New</a>
        <a class="btn btn-secondary" asp-page="Assign/Index"><i class="bi bi-person-fill-add"></i> Manage Assignees</a>
    </div>
</div>
<hr />
<form asp-page="./Index" method="get" id="filters">
    <div class="form-actions no-color">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="input-group">
                    <input class="form-control" name="SearchString" type="text" placeholder="Search by survey name" id="customTextField" value="@Request.Query["SearchString"]" />
                    <div class="input-group-append">
                        <button type="submit" value="Search" class="btn btn-primary" id="customTextFieldButton"><i class="bi bi-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@if (Model.Survey.Count > 0)
{    
    <table class="table mt-3">
        <thead>
            <tr>
                <th class="border-bottom" style="border-top-left-radius:10px;">
                    @Html.DisplayNameFor(model => model.Survey[0].Name)
                </th>
                <th class="border-bottom" style="border-top-right-radius:10px;"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Survey) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-click="@clickCheck" class="btn btn-border-primary"><i class="bi bi-pencil-square"></i> View & Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-click="@clickCheck" class="btn btn-danger" data-toggle="tooltip" data-bs-placement="bottom" title="Delete survey"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <div class="container">
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-sm-6 col-md-2">
                <div style="text-align:center;">
                    @Html.Raw(Model.SvgContent)
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-sm-6 col-md-4">
                <p class="quicksandText"> No surveys found</p>
            </div>
        </div>
    </div>


}
