@page
@model FcConnect.Pages.Surveys.Assign.IndexModel

@{
    ViewData["Title"] = "Assign Surveys";
    Guid clickCheck = Guid.NewGuid();
    HttpContext.Session.SetString("AssignSurveyClick", clickCheck.ToString());
}

<h4>Assign Surveys</h4>

<p>
    Select a user below to assign a survey     
</p>
<a asp-page="/Surveys/Index" class="btn btn-secondary mb-3" data-toggle="tooltip" data-bs-placement="bottom" title="Back to surveys"><i class="bi bi-arrow-left"></i></a>
<form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <div class="row">
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="input-group">
                <input class="form-control" name="SearchString" type="text" placeholder="Search by name" value="@Model.CurrentFilter" id="customTextField" />
                <div class="input-group-append">
                    <button type="submit" value="Search" class="btn btn-primary" id="customTextFieldButton"><i class="bi bi-search"></i> Search</button>
                </div>
            </div>
        </div>
        </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th class="border-bottom" style="border-top-left-radius:10px;">
                @Html.DisplayNameFor(model => model.User[0].Forename)
            </th>
            <th class="border-bottom">
                @Html.DisplayNameFor(model => model.User[0].Surname)
            </th>
            <th class="border-bottom" style="border-top-right-radius:10px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <a asp-page="./AssignSurvey" asp-route-id="@item.Id" asp-route-click="@clickCheck" class="btn btn-primary" style="border-radius:25px"><i class="bi bi-person-check-fill"></i> Assign</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary" style="border-radius:25px"><i class="bi bi-eye"></i> View Surveys</a>
            </td>
        </tr>
}
    </tbody>
</table>
