@page
@model FcConnect.Pages.Surveys.Assign.IndexModel

@{
    ViewData["Title"] = "Assign Surveys";
    Guid clickCheck = Guid.NewGuid();
    HttpContext.Session.SetString("AssignSurveyClick", clickCheck.ToString());
}

<div class="row g-0 mb-0">
    <div class="col d-flex align-items-end">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText ps-2">Manage <br /> Assignees</h5>
    </div>
    <div class="col d-flex align-items-end justify-content-end">
        <a asp-page="/Surveys/Index" class="btn btn-secondary mb-1" data-toggle="tooltip" data-bs-placement="bottom" title="Back to surveys"><i class="bi bi-arrow-left"></i>&nbsp; Back</a>
    </div>
</div>
<hr class="mt-0" />

<p>
    Select a user below to assign or remove a survey     
</p>
<form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <div class="row">
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="input-group">
                <input class="form-control" name="SearchString" type="text" placeholder="Search by name" value="@Model.CurrentFilter" id="customTextField" />
                <div class="input-group-append">
                    <button type="submit" value="Search" class="btn btn-primary" id="customTextFieldButton"><i class="bi bi-search"></i> Search</button>
                </div>
            </div>
        </div>
        </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th class="border-bottom" id="tableHeaderLeft">
                @Html.DisplayNameFor(model => model.User[0].Forename)
            </th>
            <th class="border-bottom">
                @Html.DisplayNameFor(model => model.User[0].Surname)
            </th>
            <th class="border-bottom">
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th class="border-bottom" id="tableHeaderRight"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-page="./AssignSurvey" asp-route-id="@item.Id" asp-route-click="@clickCheck" class="btn btn-border-primary" style="border-radius:25px"><i class="bi bi-person-check-fill"></i>&nbsp;Assign</a>
                <a asp-page="./RemoveSurveys" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-person-x-fill"></i>&nbsp;Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
