@page
@model FcConnect.Pages.Surveys.Assign.IndexModel

@{
    ViewData["Title"] = "Assign Surveys";
}

<h4>Assign Surveys</h4>

<p>
    Select a user below to assign a survey     
</p>
<a asp-page="/Surveys/Index" class="btn btn-secondary mb-3"><i class="bi bi-box-arrow-left"></i> Back</a>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:<br />
            <input type="text" name="SearchString" value="@Model.CurrentFilter" /> 
            <button type="submit" value="Search" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <a asp-page="./AssignSurvey" asp-route-id="@item.Id" class="btn btn-primary" style="border-radius:25px"><i class="bi bi-person-check-fill"></i> Assign</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary" style="border-radius:25px"><i class="bi bi-eye"></i> View Surveys</a>
            </td>
        </tr>
}
    </tbody>
</table>
