@page
@model FcConnect.Pages.Surveys.Assign.RemoveSurveyModel

@{
    ViewData["Title"] = "Remove Survey";
}
<div class="row g-0 mb-0">
    <div class="col d-flex align-items-center">
        @Html.Raw(Model.SvgContent)
        <h5 class="card-title quicksandText mt-4 pt-5">Remove <br /> Survey</h5>
    </div>
</div>
<hr class="mt-0" />
<p class="text-danger"><strong>Are you sure you want to unassign this survey?</strong></p>
<div>
    <p class="mb-0">
       <strong>User:</strong> @Html.DisplayFor(model => model.SurveyUserLink.User.Forename) @Html.DisplayFor(model => model.SurveyUserLink.User.Surname) - @Html.DisplayFor(model => model.SurveyUserLink.User.Email)
    </p>
    <p class="mb-0">
        <strong>Survey: </strong>@Model.SurveyName
    </p>
    <p class="mb-0">
        <strong>Next due date: </strong>@Html.DisplayFor(model => model.SurveyUserLink.DateDue)
    </p>
    <form method="post">
        <input type="hidden" asp-for="SurveyUserLink.Id" />
        <button type="submit" class="btn btn-danger mt-2"><i class="bi bi-trash3-fill"></i>&nbsp;Confirm</button><br />
        <a class="btn btn-secondary mt-2" asp-page="./Index"><i class="bi bi-x-circle-fill"></i>&nbsp;Cancel</a>
    </form>
</div>
